<h1>Welcome</h1>
<p>Welcome to Tale of Diary 1.0.0</p>
<p>Post your stories which are memorable to you and make it public readable or private</p>
{{#if user}}
{{else}}
<a class="btn red darken-1" href="/auth/google"><i class="fa fa-google left"></i> Login with Google</a>
{{/if}}